id: 1
templatename: Главная
description: 'Шаблон главной страницы'
properties: 'a:0:{}'

-----

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru">
<!--<![endif]-->
  [[$head]]

  <body>
  	[[$mob-mnu]]
  	<div class="page">
  		[[$fixed-elements]]
  		[[$top-mnu]]
  		<div class="screen-scroll">
  			<section class="sect" id="sect-1">
  				<div class="container">
  					<h1 class="h1">Buttons style</h1>
  					<a href="#callback" class="btn-l open-callback appender">Open popup</a>
  					<a href="#open-popup" class="btn-d">Open popup</a>
  				</div>
  			</section>
  			<section class="sect" id="sect-2">
  				<div class="container">
  					<h1 class="h1">Overflow section</h1>
  					<div class="scrollable">
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero temporibus magni voluptate, ipsum et iusto, sunt illo error qui odit nam? Maxime atque praesentium accusamus, qui, fuga velit architecto.</p>
  					</div>
  				</div>
  			</section>
  			<section class="sect" id="sect-3">
  				<div class="container">
  					<h1 class="h1">Form style, politics popup</h1>
  					<form>
  						<input type="text" name="" placeholder="Your name:"/>
  						<div class="select">
  							<select name="" id="">
  								<option selected>Item 1</option>
  								<option>Item 2</option>
  								<option>Item 3</option>
  							</select>
  						</div>
  						<button class="btn-l">Send</button>
  						<div class="polit">Нажимая на «Подтвердить» вы даете согласие на <br><a class="open-politics appender" href="#politics">обработку персональных данных</a></div>
  					</form>
  				</div>
  			</section>
  			<section class="sect" id="sect-4">
  				<div class="container">
  					<h1 class="h1">Slider default style</h1>
  					<div class="filter">
  						<a class="filter-link" href="#id-1">item-1</a>
  						<a class="filter-link" href="#id-2">item-2</a>
  						<a class="filter-link" href="#id-3">item-3</a>
  						<a class="filter-link" href="#id-4">item-4</a>
  						<a class="filter-link" href="#clear">all</a>
  					</div>
  					<div class="slider">
  						<div class="control prev triangle-left"></div>
  						<div class="viewport">
  							<div class="slider-preload">
  								<div class="preload-inner"></div>
  							</div>
  							<div class="slide-line">
  								<div class="item item-1" data-filter="id-1">
  									<div class="inner">
  										item-1
  									</div>
  								</div>
  								<div class="item item-2" data-filter="id-1">
  									<div class="inner">
  										item-1
  									</div>
  								</div>
  								<div class="item item-3" data-filter="id-2">
  									<div class="inner">
  										item-2
  									</div>
  								</div>
  								<div class="item item-4" data-filter="id-4">
  									<div class="inner">
  										item-4
  									</div>
  								</div>
  								<div class="item item-5" data-filter="id-1">
  									<div class="inner">
  										item-1
  									</div>
  								</div>
  								<div class="item item-6" data-filter="id-2">
  									<div class="inner">
  										item-2
  									</div>
  								</div>
  								<div class="item item-7" data-filter="id-1">
  									<div class="inner">
  										item-1
  									</div>
  								</div>
  								<div class="item item-8" data-filter="id-4">
  									<div class="inner">
  										item-4
  									</div>
  								</div>
  								<div class="item item-9" data-filter="id-4">
  									<div class="inner">
  										item-4
  									</div>
  								</div>
  								<div class="item item-10" data-filter="id-3">
  									<div class="inner">
  										item-3
  									</div>
  								</div>
  								<div class="item item-11" data-filter="id-3">
  									<div class="inner">
  										item-3
  									</div>
  								</div>
  								<div class="item item-12" data-filter="id-1">
  									<div class="inner">
  										item-1
  									</div>
  								</div>
  								<div class="item item-13" data-filter="id-3">
  									<div class="inner">
  										item-3
  									</div>
  								</div>
  								<div class="item item-14" data-filter="id-4">
  									<div class="inner">
  										item-4
  									</div>
  								</div>
  								<div class="item item-15" data-filter="id-1">
  									<div class="inner">
  										item-1
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="control next triangle-right"></div>
  					</div>
  				</div>
  			</section>
  			<section class="sect" id="sect-5">
  				<div class="container">
  					<h1 class="h1">Icons mixin</h1>
  					<div class="cont">
  						<div>
  							<div class="triangle-top"></div><br>
  							<div class="triangle-bottom"></div><br>
  							<div class="triangle-left"></div><br>
  							<div class="triangle-right"></div><br>
  							<div class="triangle-top-right"></div><br>
  							<div class="triangle-bottom-right"></div><br>
  							<div class="triangle-top-left"></div><br>
  							<div class="triangle-bottom-right"></div>
  						</div>
  						<div>
  							<div class="close"></div><br>
  							<div class="arrow-back"></div><br>
  							<div class="arrow-next"></div><br>
  							<div class="arrow-up"></div><br>
  							<div class="arrow-down"></div><br>
  						</div>
  						<div>
  							<div class="angle-left"></div><br>
  							<div class="angle-right"></div><br>
  							<div class="angle-top"></div><br>
  							<div class="angle-bottom"></div><br>
  						</div>
  					</div>
  				</div>
  			</section>
  		</div>
  	</div>
  	<div class="hidden">
  		[[$politics]]
  		<div class="callback" id="callback">
    	  <form action="">
    	    <div class="close-callback"></div>
    	    <h3 class="h3">Оставьте свои контактные данные</h3>
    	    <input id="phone" type="text">
    	    <button class="btn-l">Send</button>
          <div class="polit">Нажимая на «Подтвердить» вы даете согласие на <br><a class="open-politics appender" href="#politics">обработку персональных данных</a></div>
    	  </form>
    	</div>
  	</div>
    [[$scripts-css]]
  	[[$__browserSync]]
  </body>
</html>