# DS_Store macOS files
.DS_Store

# MODX files
/assets/components/*
/connectors/*
/core/*
/manager/*
/setup/*
/config.core.php
/index.php

# Web server files
.htaccess
.htpasswd
ht.access

# Node_modules and some system files
/node_modules/
system

# Backups
_backup
