# DS mac file!
/**/*/.DS_Store

# ignore MODX files
/assets/components/*
/connectors/*
/core/*
/manager/*
/setup/*
/config.core.php
/index.php
/.htaccess

# ignore node modules
/node_modules/
system
# ignore Gitify folder (Gitify system files)
/Gitify

# ignore Gitify files for current site (dynamic peaces)
/_data/*/*GI.*
