@import "vars"
.hidden
	display: none
.visible-xs
	display: none
.cont-fluid
	display: flex
	flex-direction: row
	justify-content: center
	align-items: flex-start
	flex-wrap: wrap
	width: 1920px
	margin: 0 auto
	padding: 0 20px
.row
	display: flex
	flex-wrap: wrap
	width: 100%

@media only screen and (max-width: 768px)
	.visible-xs
		display: block
