$default-font: "open-sans", sans-serif
$d: #000
$l: #fff
$bord-l: 1px solid $l
$bord-d: 1px solid $d

// Body media font sizes
$body-fz-xl: 22px
$body-fz-lg: 20px
$body-fz-md: 18px
$body-fz-sm: 16px
$body-fz-xs: 14px
$body-fz-xxs: 12px

// Grid variables
$grid-column: 12
$prefix: xl, lg, md, sm, xs, xxs
$brakepoint: 1600px, 1200px, 992px, 768px, 480px, 320px
$cont-sizes: 1200px, 992px, 768px, 100%, 100%, 100%
