.align-center
  align-items: center
.align-start
  align-items: flex-start
.align-end
  align-items: flex-end
.align-stretch
  align-items: stretch

.content-center
  justify-content: center
.content-start
  justify-content: flex-start
.content-end
  justify-content: flex-end
.content-sb
  justify-content: space-between
.content-sa
  justify-content: space-around

.column
  flex-direction: column
.row
  flex-direction: row

.space
  flex: 1
  height: 100%

.flex-wrap
  flex-flow: row wrap

.flex
  display: flex
